@font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}


body {
    font-family: 'MuseoSansCyrl';
    font-weight: 300;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.button {
    padding: 10px 20px;
    border-radius: 4px;
    border: 0;
}


.page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    background: #AA2B2B;     
    /* background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;        */
}

.header-top { 
    background-color: #000000;
}

.header-top__list {
    display: flex;
    justify-content: space-between; 
    margin-top: 0;
    margin-bottom: 0;   
    padding-top: 6px;
    padding-bottom: 6px; 

    list-style: none;   
}

.header-top__item {
    font-size: 14px; 
    color: #ffffff;
}

.header-top__link {
    padding-left: 5px;
    padding-right: 5px;

    color: #ffffff;
    text-decoration: none;    
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    text-decoration: none;
}

.logo__text {
    margin: 0;

    font-size: 16px;
    color: #ffffff;
    font-style: italic;    
    text-align: right;    
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 40%;
    margin: 0;
    padding: 0;
    list-style: none;     
}

.main-nav__link {
    padding-top: 3px;
    padding-bottom: 3px;

    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;     
}
.main-nav__link:hover {    
    border-bottom: 1px solid #221C1E;
    
}

.main-nav__button {
    background-color: #791717;
    color: #ffffff;
    /* box-shadow: 0 -3px  #791717 inset; */        
    transition: 0.2s;
}
.main-nav__button:hover {
    background-color: #221C1E;    
}

.intro {    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;

    background-image: url(../img/woman1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} 

.intro__title {
    width: 70%;

    font-size: 40px;
    font-weight: bold;
    line-height: 140%;
    text-transform: uppercase;
}
.intro__text {
    width: 70%;
}

.intro__button {
    background-color: #AA2B2B;
    color: #ffffff;    
}
.advantages {
    padding-top: 15px;
    padding-bottom: 15px;
}
.advantages__list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 0;    
    padding: 0;

    list-style: none;
}
.advantages__item {
    display: flex;
    flex-basis: 25%;
}
.advantages__image {
    margin-right: 10px;
}
.advantages__title {   
    margin: 0; 

    font-size: 40px;       
    font-weight: 700;
    color: #aa2b2b; 
}
.advantages__text {
    margin: 0;
    
    font-size: 14px;
}