@font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'MuseoSansCyrl';
    src: url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}


body {
    font-family: 'MuseoSansCyrl';
    font-weight: 300;

    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.button {    
    border-radius: 4px;
    border: 0;
}

.section-anchor {
    display: block;
    margin-bottom:155px;
    margin-top:-155px
}

.page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;    

    
    background-image: linear-gradient(65deg, #eeeeee, #ffffff);
    
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    box-shadow: 0 1px 5px rgba(33,33,33,0.5);
}

.header-top {     
    background-color: #aa2b2b;
    background-image: linear-gradient(65deg, #791717, #AA2B2B);   
    
}

.header-top__list {
    display: flex;
    justify-content: space-between; 
    margin-top: 0;
    margin-bottom: 0;   
    padding-top: 8px;
    padding-bottom: 8px; 

    list-style: none;   
}

.header-top__item {
    font-size: 14px; 
    line-height: 120%;
    color: #ffffff;    
}

.header-top__link {
    padding-left: 5px;
    padding-right: 5px;
    
    text-decoration: none;   
    color: #ffffff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    display: inline-block;
    text-decoration: none;
    
}

.logo__text {
    margin: 0;
      
    font-style: italic; 
    font-size: 16px;    
    text-align: right;
    color: #221C1E;    
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    margin: 0;
    padding: 0;
    list-style: none;     
}


.main-nav__link {
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 18px;
    font-weight: 700;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #221C1E;           
}

.main-nav__link::before {
    position: absolute;
    bottom: -5px;    
    content: " ";
    width: 100%;
    height: 3px;

    background-image: linear-gradient(65deg, #791717, #aa2b2b);
    
    opacity: 0;
    
    transition: 0.4s;
    transform: translateY(5px);
}
.main-nav__link:hover::before {    
    opacity: 0.8;
    transform: translateY(0px);
}

.phone {    
    display: flex;
    flex-direction: column;     
}

.phone__number {    
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #221C1E;    
}

.phone__button {
    position: relative;
    margin-top: 3px;   
    padding: 0 5px 0 0;     

    font-weight: 700;
    text-align: right;
    text-decoration: none;    
    color: #AA2B2B; 
    
    background-color: transparent;
    border: none;

    cursor: pointer;
}

.phone__button:hover {      
    color: rgba(170, 43, 43, 0.7);     
}

.phone__button::before {
    position: absolute;    
    content: ""; 
    bottom: -3px; 
    right: 0;    
    width: 70%;
    
    border-bottom: 1px dotted #AA2B2B;
}

.phone__button:active, 
.phone__button:focus {
    outline: none;
    color: rgba(170, 43, 43, 0.7);
  }

.intro { 
    display: flex;
    align-items: center;        
    padding-bottom: 40px;
    height: 100vh;

    background-image: url(../img/woman1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} 

.intro__title {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 5px;

    font-size: 40px;
    font-weight: 900;
    line-height: 140%;
    text-transform: uppercase;
}
.intro-wrapper {
    margin-top: 90px;
}
.intro__subtitle {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;    
}
.intro__text {    
    width: 60%;    
    font-size: 20px;
}

.intro__button {
    position: relative;
    min-width: 200px;
    min-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    color: #ffffff; 

    background-image: linear-gradient(65deg, #791717, #AA2B2B);
    
    
    box-shadow: 0px 3px 3px 0px #221C1E;   
           
    cursor: pointer;
}
.intro__button:hover { 
    box-shadow: 0px 5px 3px 0px #221C1E;          
}
.intro__button:active {
    box-shadow: inset 2px 2px 2px 0px #221C1E; 
}


.intro__button::before {
    content: "";
    position: absolute;       
    top: 0;
    left: 0;
    z-index: 1;

    display: block; 
    width: 100%;
    height: 100%;

    background: #fa4923;
    opacity: 0;
    
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.intro__button::after {
    content: "";
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;

    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;

    background: #fff;
    
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash { 
    0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; } 
}


.advantages {
    padding-top: 15px;
    padding-bottom: 15px;
}
.advantages__list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 83%;
    justify-content: space-between; 
    margin-top: 35px;      
    padding: 0;

    list-style: none;
}
.advantages__item {
    display: flex; 
    margin: 10px 0;   
}
.advantages__item img:last-child {
    transform: scale(-1, 1);
}
.advantages__image {
    margin-right: 5px;
}
.advantages__desc {
    margin: 0 5px;
}
.advantages__title {   
    margin: 0; 

    font-size: 40px;       
    font-weight: 900;
    color: #aa2b2b; 
    
}
.advantages__text {
    margin: 0;
    
    font-size: 16px;
    font-weight: 700;
}
.features {
    padding-top: 35px;
    padding-bottom: 40px;    
    
    background-image: -webkit-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: linear-gradient(65deg, #791717, #AA2B2B);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    box-shadow: inset 0px 0px 10px;
}
.features__title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;    
    text-align: center;
    text-transform: uppercase;  
    color: #ffffff;

    text-shadow: 0 0 3px #221C1E;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.features__item {
    display: flex;    
    margin-top: 25px;
    margin-bottom: 25px;

    text-shadow: 0 0 3px #221C1E;
}
.features__head {
    margin-top: 0;
    margin-bottom: 5px;    

    font-size: 20px;
    color: #ffffff;
}
.features__image {
    margin-right: 10px;
    text-shadow: 0 0 3px #221C1E;
}
.features__head span {
    font-size: 35px;
}
.features__text {
    margin: 0;
    line-height: 120%;
    color: #ffffff;
}

.offer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EEEEEE;   
}

.offer__title {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;    
    text-align: center;
    text-transform: uppercase;  
    
}
.offer__list {    
    margin: 0;
    padding: 0;
}

.offer__item {
    display: flex;
    align-items: center;    
    margin-top: 15px;
    margin-bottom: 15px;    
    padding: 20px;
    

    background-color: #ffffff;    
    /* border: 1px solid #AA2B2B;     */
    box-shadow: 1px 1px 5px 2px rgba(34, 60, 80, 0.2);
    transition: 0.1s;
}

.offer__item:hover {
    /* border: 1px solid #221C1E;     */
    box-shadow: 1px 1px 10px 5px rgba(34, 60, 80, 0.2);
    
}

.offer__desc {   
    
    padding-left: 15px;
    text-align: left;
}

.offer__head {    
    margin: 0;     
}
.offer__text {
    margin-top: 10px;
    min-height: 72px;
}
.offer__button {
    padding: 10px 20px;
    background-image: linear-gradient(65deg, #d63232, #AA2B2B);
    color: #ffffff;
    cursor: pointer;     
}
.offer__button:hover {       
    box-shadow: 0px 3px 3px 0px #221C1E;   
}
.offer__button:active {       
    box-shadow: inset 2px 2px 2px 0px #221C1E;   
}


.manufacture {
    padding-top: 40px;
    padding-bottom: 40px;    
}
.manufacture__title { 
    margin-bottom: 20px;   
    
    font-size: 40px;
    font-weight: 900;
    line-height: 70%;
    letter-spacing: 1px;    
    text-align: center;
    text-transform: uppercase;
       
}

.manufacture__title span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;    
    color: #AA2B2B;
}

.manufacture__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;

    list-style: none;
}

.manufacture__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    margin-top: 20px; 
    margin-right: 10px;   
    margin-bottom: 20px;
    margin-left: 10px;           
    
    box-shadow: 1px 1px 5px 2px rgba(34, 60, 80, 0.2);

    transition: 0.2s;
      
}

.manufacture__item:hover {    
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 5px  rgba(121, 23, 23, 0.2);
}

.manufacture__image {
    display: block;
    margin: auto;
    transition: 0.2s;
}


.manager {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #AA2B2B;
    background-image: linear-gradient(65deg, #0d3958, #0870bb);
    /* background-image: -webkit-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(63, 17, 17, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: linear-gradient(65deg, #791717, #c01c1c); */
    /* background-color: #221C1E; */
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    box-shadow: inset 0px 0px 10px;
}

.manager__title {
    display: inline-block;
    margin-top: 20px;  
    margin-bottom: 0px;  

    font-size: 40px;       
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;  

    text-shadow: 0 0 3px #221C1E;
}

.manager__subtitle {
    margin: 0;
    font-size: 20px;
    color: #ffffff;

    text-shadow: 0 0 3px #221C1E;
}

.manager__list {
    margin-top: 40px;
    padding: 0;

    list-style: none;
}

.manager__item {
    display: flex;
    align-items: center;    
    margin-bottom: 35px;

    
}

.manager__icon {
    margin-right: 10px;
}

.manager__head {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;

    text-shadow: 0 0 3px #221C1E;
}


.manager__text {    
    margin: 0;
    color: #ffffff;

    text-shadow: 0 0 3px #221C1E;
}

.form-wrapper {    
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 5px 2px rgba(34, 60, 80, 0.2);
    
}

.form__title {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.form__text {
    margin-top: 7px;
    margin-bottom: 30px;

    text-align: center;
    line-height: 130%;
}

.form__text span {    
    font-weight: 700;
    color: #d63232;
    border-bottom: 1px dotted #221C1E;
}

.form__input-group {
    display: flex;
    flex-direction: column;
}


.form__input {
    padding: 13px 10px;
    margin-bottom: 15px;   
    
    font-size: 18px;
    line-height: 120%;

    border: 1px solid rgb(197, 191, 191);
    border-radius: 5px;
    box-shadow: inset 0 0 1px;
}

.form__input:focus {
    /* outline-color: #dfdc0b;
    outline-width: 3px; */
}

.check-wrapper {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form__check {
    margin-right: 15px;
}

.form__check + label {        
    font-size: 12px;
}

.form__button {    
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-image: linear-gradient(65deg, #d63232, #AA2B2B);
    border: none;
    border-radius: 5px;
      
    box-shadow: 0px 3px 3px 0px #221C1E; 

       
    cursor: pointer;
    overflow: hidden;  
       
}
.form__button:hover {
    box-shadow: 0px 4px 3px 0px #221C1E; 
}
.form__button:active {       
    box-shadow: inset 2px 2px 2px 0px #221C1E;   
}

.form__button::before {
    content: "";
    position: absolute;       
    top: 0;
    left: 0;
    z-index: 1;

    display: block; 
    width: 100%;
    height: 100%;

    background: #fa4923;
    opacity: 0;
    
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.form__button::after {
    content: "";
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;

    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;

    background: #fff;
    
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.form__button span {
    position: relative; 
    display: inline-block;
    width: 30px;
}
.form__button span::before {
    position: absolute;    
    bottom: -13px;
    right: 15px;
    content: url(/img/gift.png);
}

.reviews {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #EEEEEE;    

    box-shadow: 0 1px 5px rgba(33,33,33,0.5);
}
.reviews__title {
    font-size: 40px;       
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.reviews__list {
    display: flex;
    justify-content: space-around;    
    padding: 0;
    margin: 0;

    list-style: none;
}
.reviews__item {    
    padding: 20px;
    margin: 15px;
    text-align: center;

    background-color: #ffffff;
    border-radius: 5px;

    box-shadow: 1px 1px 5px 2px rgba(34, 60, 80, 0.2);    
}

.autor__photo {
    border-radius: 50%;
    
}
.autor__desc {
    margin: 0;
}
.autor__desc span {
    display: block;
    color: #AA2B2B;
}


.autor__name {
    display: inline-block;
    margin-top: 25px;
    font-style: normal;
    font-weight: 700;
}


.stars {
    margin: 0 0px;
    color: #AA2B2B;
}

.stars:hover:before {
    content: "\2605";
    position: absolute;
    color: #221C1E;
}


.contacts {   
    padding: 40px 0;
    
    
}

.contacts__title {
    margin-top: 0;
    padding: 20px 0;

    font-size: 40px;       
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;         
          
}

.map-wrapper {
    position: absolute;   
    top: 0;
    width: 100%;   
    height: 100%; 
}

.contacts__map { 
    border: 5px solid #EEEEEE;
}

.contacts__list { 
    padding-top: 10px;     
    padding-left: 0px;
    padding-bottom: 20px;
    margin: 0;
    height: 100%;     
           

    list-style: none;

    background-color: #ffffff;   
    
}
.contacts__item {
    margin-bottom: 30px;
}

.contacts__head {    
    margin: 0px;

    font-size: 23px;
    font-weight: 700;
    
}

.contacts__text {
    margin-top: 10px;
    margin-bottom: 0;    
}



.footer-nav__button {
    position: relative;
    display: flex;
    margin: 5px 0;
    
    padding: 10px 25px;

    font-weight: 700;    
    color: #ffffff;

    background-image: linear-gradient(65deg, #d63232, #AA2B2B);
    border: none;
    border-radius: 5px;

    box-shadow: 0px 3px 3px 0px #221C1E; 
       
    cursor: pointer;
    overflow: hidden;
}

.footer-nav__button:hover {
    box-shadow: inset 2px 2px 2px 0px #221C1E;   
}
.footer-nav__button:active {       
    box-shadow: inset 4px 4px 4px 0px #221C1E;   
}
.footer-nav__button::before {
    content: "";
    position: absolute;       
    top: 0;
    left: 0;
    z-index: 1;

    display: block; 
    width: 100%;
    height: 100%;

    background: #fa4923;
    opacity: 0;
    
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
}

.footer-nav__button::after {
    content: "";
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;

    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;

    background: #fff;
    
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 3s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.page-footer {        
    background-image: linear-gradient(65deg, #221C1E, rgb(12, 7, 9));
    
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    box-shadow: inset 0px 0px 10px;
}

.footer-top {
    padding: 15px 0;

}
.footer-nav {
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.footer-nav .logo__text {
    color: #EEEEEE;
    text-align: right;
}
.footer-nav__text {
    color: #EEEEEE;
    letter-spacing: 1px;
}

.toledo__link {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #d63232;
}
.toledo__link:hover {
    opacity: 0.8;
}

.footer-nav-wrapper {
    display: flex;
    justify-content: space-around;
    
}
.footer-nav__title {
    margin-top: 0;
    color: #EEEEEE;
}
.footer-nav__list {
    padding: 0;
    list-style: none;    
}
.footer-nav__item {
    margin-bottom: 5px;
}

.footer-nav__link {
    text-decoration: none;
    color: #EEEEEE;
    transition: 0.2s;
}

.footer-nav__link:hover {
    color: #d63232;
} 
.footer-nav__question {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: #EEEEEE;
    text-align: right;
}

.footer-nav__question h3,
.footer-nav__question p {
    margin-top: 0;
}  

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 1px solid rgba(247, 247, 247, 0.3);
}
.copyright__text {
    font-size: 14px;
    color: #EEEEEE;
}


.modal-open {
    overflow: hidden;
}
  
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
  
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
  
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}


.fade {
    transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.modal-sendform__body {
    padding: 25px;    
}
.modal-sendform__close {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    
    font-size: 20px;
    font-weight: 900;
    border:none;
    background-color: transparent;

    cursor: pointer;
}
.modal-sendform__close:hover {
    color: #d63232;
}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
}

@media only screen and (max-width : 1199px) {
    

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .modal-lg {
        max-width: 800px;
      }
        

}
@media only screen and (max-width : 991px) {
     

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}  

@media only screen and (max-width : 767px) {  
    
    
}

@media only screen and (max-width : 576px) {
   
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    
}

@media only screen and (max-width : 360px) {
    
} 